*{
    margin: 0px;
    padding: 0px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
button{
    border: none;
    font-size: 2ch;
}
.logo{
    font-size: 4ch;
}
.list-button{
    background-color: rgb(0, 115, 255);
    color: white;
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
}
.body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 40vw;
    height:90vh;
    
    
}
.body-p{
    font-size: 2.5ch;
}
.body-button{
    background-color:white;
    border-radius: 5px;
    width:300px;
    height:40px;
}
h1{
    font-size: 8ch;
}
img{
    height:90vh;
    width: 40vw;
    object-fit: cover;
}
.a{
    background-color: yellow;
}